*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    outline: none;
    color: aqua;
   
}


body{
    display: flex;
    min-height: 120vh;
    align-items: center;
    justify-content: center;
}


.video-container { 
    height: 500px;
    width:100%;
    max-width:1000px; 
    position: relative;
    overflow: hidden;
  }
  
  video { 
    position: fixed; 
    right: 0; bottom: 0; 
    min-width: 100%;  
    min-height: 100%;
  }

.container{
    width: 500px;
    background: black;
    box-shadow: 0 0 8px rgba(250,250,250,0.6);
    opacity: 0.6;
    margin-left: 15em;

}

.FEEDBACK{
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.emojis{
    width: 100px;
    height: 100px;
  border-radius: 50%;
 
   overflow: hidden;
}


.emojis img{
    width: 90px;
    height: 90px;
    margin:  0 10px;
    }

#emoji{
  display: flex;
  align-items: center;
  transform: translateX(-447px);
  transition: 0.3s;
}

.ratting .fa{
    font-size: 40px;
    color: #e4e4e4;
    cursor: pointer;
}


.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    
}

.container form{
       width: 100%;
       text-align: center;
       padding: 20px 15px;
}



form .id{
  position: relative;
  
}

.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
     border-radius: 3px;
     background: #181717;
     padding: 0 15px;
     padding-right: 45px;
     font-size: 20px;
}

form textarea{
    padding: 5px 15px;
    order: 1px solid #5c5c5c;
     border-radius: 3px;
     background: #181717;
     font-size: 20px;
     width: 100%;
     margin: 4px 0;
}

form button{
    margin-top: 4px;
    border: none;
    background: aqua;
    color: black;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}