* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  
}

body {
  
  color: white;
}
.video-container { 
  height: 500px;
  width:100%;
  max-width:1000px; 
  position: relative;
  overflow: hidden;
}

video { 
  position: fixed; 
  right: 0; bottom: 0; 
  min-width: 100%;  
  min-height: 100%;
}

h1 {
  color: orangered;
  text-transform: uppercase;
  font-weight: 900;
  margin: 1rem;
  padding: 0;
  line-height: 1;
  font-size: 6em;
  margin-bottom: 24px;
  margin-top: 1.3em;
}


.div2{
  font-weight:500px;
  font-size:22px;
 
}

.div1 {
  position: relative;
    text-align: center;
    max-width: 900px;
    font-weight: 700;
    text-shadow: 2px 2px black; 
    margin-left: 15em;
   
}

button{
  width: 45%;
  height: 2.5em;
  margin-top: 1.6em;
  background-color: rgba(0,0,0,0.6);
  color: rgb(57, 223, 223);
  font-size: 22px;
  border-radius: 50px;
}






