* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    place-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-image: url(thirdBackground.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
      justify-content: space-between;
      background-size: 100% 100%; 
      display: flex;
      align-items:center ;
      padding: 80px 100px 0;
     
      
}



.container{
    text-align: center;
   margin-bottom: 7em;
   margin-left: 15em;
}

img{
    height: 65px;
    width:45px;
}
body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1{
    font-size: 38px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    margin: .5px;
    width:65px;
    height: 65px;
    box-shadow: 2px 2px 5px rgba(3, 3, 3, 0.9);
}

#tog {
    margin: 10px 0px;
}


.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
    
}

.allpawn {
    transform: scale(.7);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}


@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}